<?xml version="1.0"?>

<configuration>
    <connectionStrings>
      <add name="QLBH" connectionString="Data Source=DESKTOP-T89JGS4\SQLEXPRESS; Initial Catalog=webdata; User ID=sa; Password=sa2012 "/>
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
